img {
    height: 180px;
}
div{
    padding: 15px;
    margin-bottom: 15px;
    /* display: flex; */
}
.container {
margin: 0 auto;
background-color: darkgrey;
width: 700px;
border-top: black solid;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.row1 {
background-color: cyan;
display:flex;
justify-content: space-between;
align-items: center;
}
.row2 {
background-color: palevioletred;
display:flex;
align-items: center;
justify-content: space-evenly;
}
.row3 {
background-color: white;
display:flex;
align-items: center;
justify-content: space-around;
}